<mat-card class="vehicle-card mat-elevation-z" (click)="redirectTo()">
    <picture class="vehicle-card-image">
        <img
            [src]="vehicle?.photo"
            [alt]="vehicle?.model"
            errorImage
        />
    </picture>
    <mat-card-content>
        <div>
            <p class="vehicle-model">
                {{ vehicle?.model }} | {{ vehicle?.year }}
            </p>
            <p>{{ vehicle?.brand }}</p>
            <p>{{ vehicle?.price | currency }}</p>
        </div>
    </mat-card-content>
</mat-card>