<div class="main-page">
    <content-page>
        <div center-item>
            <input type="text">
        </div>
        <div right-item>
            <mat-icon>directions_car</mat-icon>
            Renting Car
        </div>
        <div main-content>
            <ul>
                <li>
                    hola mundo
                </li>
                <li>
                    hola mundo
                </li>
                <li>
                    hola mundo
                </li>
                <li>
                    hola mundo
                </li>
                <li>
                    hola mundo
                </li>
            </ul>
        </div>
    </content-page>
</div>
