<article class="detail-car">
    <figure class="detail-car-image">
        <img errorImage [src]="vehicle?.photo" alt="">
    </figure>
    <section class="detail-car-info">
        <p class="detail-text">
            <strong class="text-primary">Modelo: </strong>
            {{ vehicle?.brand }} | {{ vehicle?.year }}
        </p>
        <p class="detail-text">
            <strong class="text-primary">Marca: </strong>
            {{ vehicle?.brand }}
        </p>
        <p class="detail-text">
            <strong class="text-primary">Precio por día: </strong>
            {{ vehicle?.price | currency }}
        </p>
        <button mat-raised-button color="primary" (click)="doReservation()">Reservar</button>
    </section>
</article>
