.detail-car {
    padding: 1rem;
    display: flex;
    justify-content: center;

    @media only screen and (min-width:320px) and (max-width:480px) {
        flex-direction: column;

        & .detail-car-image {

            img {
                max-width: 320px;
                width: 100%;
            }
        }
    }

    @media only screen and (min-width:480px) {
        flex-direction: row;

        & .detail-car-image, .detail-car-info {
            width: 50%;
        }
    }

    .detail-car-image {
        img {
            width: 100%;
        }
    }

    .detail-car-info {
        padding: 1rem;
        display: flex;
        flex-direction: column;

        .detail-text {
            font-size: 18px;
            margin-bottom: 1rem;

            strong {
                margin-right: 0.5rem;
            }
        }
    }
}