<section class="flex-row flex-wrap justify-content-center w-100">
  <vehicle-card
    [vehicle]="item"
    *ngFor="
      let item of (vehicleList$ | async) || []
        | filterBrand: (textFilter$ | async) || ''
    "
  ></vehicle-card>
</section>

<section
  class="empty-list flex-row justify-content-center"
  *ngIf="
    !((vehicleList$ | async) || [] | filterBrand: (textFilter$ | async) || '')
      ?.length
  "
>
  <p>No hay elementos</p>
  <mat-icon class="empty-list-icon">broken_image</mat-icon>
</section>
